{% extends 'Djangoapp/layout.html' %}
{% load static %}
{% block title %}Расписание{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'Djangoapp/css/contacts.css' %}">
{% endblock %}

{% block content %}
<div class="lectures-content">
    <div class="lectures-controllers">
        <div class="trimester-controllers">
            <a class="trimester-link" href="#">1 Триместр</a>
            <a class="trimester-link" href="#">2 Триместр</a>
            <a class="trimester-link" href="#">3 Триместр</a>
        </div>
        <div class="date-controller">
            <input type="datetime-local">
        </div>
    </div>

    <div class="lectures-days-list">
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Понедельник</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Вторник</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Среда</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Четверг</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Пятница</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Суббота</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
        <div class="day-lectures-component">
            <p class="day-lectures-component-title">Воскресенье</p>
            <div class="lectures-list">
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
                <div class="lecture">
                        <span>12:30</span>
                        NAME
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}